<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Sign In</title>
    </head>
    <body>
<nav>

      <!-- <a href="/">Home</a> -->
      <a href="#">My Friends</a>
      <a href="/logout">Logout</a>
</nav>

        <div class="pageContainer">
            <h1>The layout Shows</h1>
            {{{yield}}}

        </div>

    </body>
</html>
