<form class="loginForm" action="/" method="post">
    <input type="text" name="username" value="" placeholder="your username">
    <input type="password" name="password" value="" placeholder="your password">
    <button type="submit" name="button">Log In Here</button>
</form>
